extends layout

block mainContent

    section
        h2 supporting multiple devices
        ul
            li responsive design
            li tap event
            li orientation change
            li media queries



        h3 tab content
        ul
            li does each tab have a heading and why does it matter?
            li image as tag or sprite?
            li icons as image tags or spries?
            li how to get everything lined up?

