extends layout

block mainContent
    #article
        h1 css3 in production
            small [draft copy!]
        .wrapper
            section
                h2 the mission

            section
                h2 the methods
                p The following all had their drawbacks, but given the right circumstance and a less strict set of requirements, any of them could be used to solve the problem.

                    p CSS3 features will either have to be rendered using small amounts of js or fallback methods within the CSS itself.
                    p
                        code.css Opacicity
                        | (including
                        code.css rgba
                        |) and gradients don't require JS at all.
                        | If the overflow bug[5] in IE doesn't get in your way then you can use
                        code.css filter
                        | for IE and vender prefixes for all the other browsers
                    p
                        code.css border-radius
                        | can normally be ignored all together as it is already supported by modern browsers.
                        | those that don't support it (IE6 + IE7)[6] can simply have square corners.
                    p
                        code.css columns
                        | depends on your desired layout.
                        | to get columns to work in all browsers, I'd prefer not to change the markup.
                        | unortunately adding more tags will be neccersary to replicate the column look in the old browsers (IE and FF3.6).
                    p
                        code.css text-shadow
                        | can only be replicated with the help of JS by cloning the text and ofsetting the result.
                        | But because screen readers would also announce any duplicated text[7] I'd reccomend either letting old browsers render without it or using the
                        code.html img
                        | tag as fallback with good 'alt' text.
                    p
                        code.css transition
                        |




            h2 the execution


            h2 the reflection



            ul
                li [1] firefox 3 html 5 - https://developer.mozilla.org/en/Firefox_3_for_developers
                li [2] the layout tags (header, hgroup, nav, section, article, footer) and fontface, border-radius, opacity, rgba, text-shadow, columns, gradients, transitions and touch.
                li [3] IE6, IE7, IE8, IE9, FF3.6, FF14, Opera, Chrome, Safari
                li [4] http://www.hagenburger.net/BLOG/Simple-HTML5-Fix-for-IE.html
                li [5] elements with 'filter' css will always have their overflow hidden.
                li [6] css3 support tests + results
                li [7] no way of hidding text from screen readers at the moment
                li [n] http://nefariousdesigns.co.uk/sniff-my-browser-the-modernizr-inadequacy.html
                li [n] http://www.css3files.com/2011/06/07/why-i-don%E2%80%99t-use-modernizr-yet/



    | <!--| Performance of coarse is also a factor as adding too many elements to the DOM, or executing too much JS needlessly may be too much for some browser/operating system/hardware clients.-->

    |<!--h2 considerations-->
    |<!--p If this edge case is a small percentage, then why bother?-->
    |    <!--| Simple, because even a small percentage of return visitors would turn into a large number missing clicks if we didnt provide a good looking, usable site.-->
    |    <!--| Having said that, I'll still be more than happy when the people above decide that this number is small enough to be ignored!-->
    |    <!--| The other reason is accessibility.  Doing what we can to help Assistive technology (AT) will in turn help more users.-->
    |    <!--| I'm sure more AT's will suport these semantic descriptive tags in the future.-->
    |    <!--| I also expect html5 to help Search Engine Optimisation (SEO), maybe not hugely important now, but hopefully soon.-->