header(role='banner').clearfix
    hgroup
        h1 caught in a dot com
        h2 my web log
    nav(role='navigation')
        h2.at Site Navigation
        ul
            li
                a(href='/tags/css') css
            li
                a(href='/tags/html') html
            li
                a(href='/tags/js') js
            li
                a(href='/tags') others