#site_header.wrapper
    header(role='banner')
        hgroup
            h2.site_name caught in a dot com
            h3.tag_line diary of web geek

        nav(role='navigation')
            h2.at Site Navigation
            ul
                li
                    a(href='/') all articles
                li
                    a(href='/tags/css') css
                li
                    a(href='/tags/html') html
                li
                    a(href='/tags/js') js
                li
                    a(href='/tags/accessibility') accessibility
            form(role='search')
                input(type='search',value='',placeholder='e.g. js+transitions',results='10',autosave='ciadc_search')
                input(type='submit',value='search')