extends layout

block mainContent
    h1 all posts
    #recent_articles.wrapper
        section(role='main')
            article
                header
                    h2
                        a(href='/articles/useful-front-end') useful front-end code
                    .time
                        time(datetime="2012-08-16",pubdate="") 16th September 2012
                p I've been asked to put together some training notes that I would give to server-side developers to help them tackle common client-side problems quickly.
                    | So here is my attempt!
                    a.more(href='/articles/using-html5-in-production') more
                aside
                    h3.at tags
                    ul
                        li
                            a(href='/tags/Accessibility') Accessibility
                        li
                            a(href='/tags/usability') CSS
            article
              header
                h2
                  a(href='/articles/using-html5-in-production') structural html5 in production
                .time
                    time(datetime="2012-07-16",pubdate="2012-07-16") 16th July 2012
              p I've seen many people question html5. Some say 'why bother, there's not enough support'.
                | Others saying 'just use it as no one should be using IE anyway'!
                a.more(href='/articles/using-html5-in-production') more
              aside
                h3.at tags
                ul
                  li
                    a(href='/tags/Accessibility') Accessibility
                  li
                    a(href='/tags/html5') html5


    #recent_articles.wrapper.draft
        h2 draft articles not yet published
        section
            article
              header
                h2
                  a(href='/articles/responsive-design') responsive design
                .time
                    time(datetime="2012-06-26",pubdate="") 16th July 2012
              p Buzz word of warning, this is about developing one site that fits on many screens - using responsive design.
                | I found out a cool way of reliabily detecting orientation too!
                a.more(href='/articles/responsive-design') more
              aside
                h3.at tags
                ul
                  li
                    a(href='/tags/usability') usability
                  li
                    a(href='/tags/html5') css3
                  li
                    a(href='/tags/html5') javascript


            article
                header
                    h2
                        a(href='/articles/css-event-hooks') css transitions + browsers
                    .time
                        time(datetime="2012-06-26",pubdate="") 16th July 2012
                p building a css3 carousel wasn't as easy as 1,2, css3.
                    a.more(href='/articles/css-event-hooks')  more
                aside
                    h3.at tags
                    ul
                        li
                            a(href='/tags/css') css
                        li
                            a(href='/tags/js') js

            article
                header
                    h2
                        a(href='#') javascript to upload files
                    .time
                        time(datetime="2012-06-26",pubdate="") 16th July 2012
                p what's been a personal triumph for me because it been my unicorn for so long.  At last i have had time to try and complete this work!
                aside
                    h3.at tags
                        ul
                            li
                                a(href='/tags/js') js


            article
                header
                    h2
                        a(href='#') keyboard users + drop downs
                    .time
                        time(datetime="2012-06-26",pubdate="") 16th July 2012
                p tabbing through sites with hover events complicates what you thought about usin ARIA to just announce list titles and other hidden content.
                aside
                    h3.at tags
                    ul
                        li
                            a(href='/tags/accessibility') accessibility