doctype html
html(lang="en")
    head
        title #{title}
        link(rel='stylesheet', href='/css/app.css')
        script(type='text/javascript')
            var i = 0, j = a.length,
                a = ['section', 'article', 'nav', 'header', 'footer', 'hgroup'];
            for (; i < j ; i++) {
            document.createElement(a[i]);}
    body
        #content
            include partials/header

            block mainContent

            include partials/footer

        script(type='text/javascript', src="/js/app.js")