doctype html
html(lang="en")
    head
        title #{title}
        link(rel='stylesheet', href='/css/app.css')
    body
        include partials/header

        block mainContent

        include partials/footer