@import 'nib';
@import url('http://fonts.googleapis.com/css?family=Quicksand');

/*resets*/
global-reset()
footer,aside,section,article,nav,header{display:block; margin:0;padding:0;}

/*vars*/
main-color = #C98A4B
background-color = #F9F3EC


body{
  font-family: 'Georgia';
  background-color: background-color;
  color: #444;
}
a{
    text-decoration: none;
    color: #701F1C;
}
a:hover,a:focus{
    text-decoration: underline;
}

.at{
    position: absolute;
    clip: rect(0 0 0 0);
    clip:rect(1px,1px,1px,1px);
}

header{
  font-family: 'Quicksand';
  color: #fff;
  font-size: 3em;
  overflow: auto;

  background-color: main-color;
  border-bottom: 1px solid darken(main-color, 30%);
  text-shadow: 2px 2px 2px darken(main-color, 30%);

h1{
    float: left;
    margin: 2pc;
  }
h2{
    position: absolute;
    top: 2pc; left: 2pc;
    font-size: 0.35em;
    padding-top: 2.75em;
    color: #F2E4D5;
}

  ul {
    line-height: 7pc;
    li{
        display:inline;
        font-size: 0.5em;
        margin: 2pc 0;
        a{
            border-radius: 15px;
            padding: 10px;
        }
        a:hover{
            background:rgba(255,255,255,0.25);
            border-bottom: 1px solid;
            text-decoration: none;
        }
    }
  }
}
.main{
    clear: both;
}