#article{
    h2{
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 1.5em;
        color: darken(main-color, 50%);
        line-height: 1.5em;
        margin-top: 20px;
        &:first-child{
            margin:0;
        }
    }
    h3,dt{
        color: darken(main-color, 50%);
        font-size: 1em;
    }
    p,dd{
        margin: 0 0 20px;
        line-height: 1.5em;
        text-align: justify;
    }
    code {
        background: rgba(0,0,0,0.33);
        color:  darken(main-color, 15%);;
        font-family: Georgia;
        padding: 3px 6px;
        border: 1px dashed rgba(0,0,0,0.75);
        font-size: 0.85em;
        white-space: nowrap;
        margin: 0 5px;

    }
    code.complete{
        margin: 10px 20px;
        padding: 10px 20px;
        display: block;
    }

    dl.contentList{
        clear:both;
        overflow: auto;
        dt {float:left; clear: left;line-height: 1.5em;}
        dd {float:left; margin: 0 0 0 12px; }
    }
    p.listStatement{
        margin: 0;
    }

}
