#article{
    h2{
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 1.35em;
        color: darken(main-color, 50%);
        line-height: 1.5em;
    }
    h3{
        color: darken(main-color, 50%);
        font-size: 1em;
    }
    p{
        margin: 0 0 20px;
        line-height: 1.5em;
    }
}
