/* footer */
#site_footer{
    color: main-color;
    border-top: 1px solid darken(main-color, 30%);
    padding:1pc 2pc;
    font-size: 1em;
    overflow: auto;
    color: #F2E4D5;
    h2 { float:left;  margin:0;}
    ul li { display:inline; line-height: 2.4em; margin: 0 20px;}
}