#site_header{
    border: 1px solid header-shadow;
    border-radius:20px 20px 0 0;

    font-family: 'Quicksand';
    font-size: 3em;
    margin: 60px 0 20px;
    text-shadow: 1px 1px 1px header-shadow;
    padding-bottom:0;
    position:relative;

    .site_name{
        margin: 0pc;
        font-size: 1.4em;
        text-align: center;
        letter-spacing: -10px;
        word-spacing: 10px;
        color:main-color;
    }
    .tag_line{
        font-size: 0.35em;
        text-align: center;
        margin-bottom: 20px;
        margin: 0 auto;
        margin-bottom: 2em;
        overflow: visible;
    }

    ul {
        overflow:auto;
    li{
        float:left;
        font-size: 0.4em;
    a{
        border-radius: 15px 15px 0 0;
        padding: 10px 30px;
        background:rgba(0, 0, 0, 0.50);
        text-decoration: none;
        color: #F2E4D5;
        display: block;
        border: 1px solid header-shadow;
        border-width: 1px 1px 0;
    }
    a:focus,
    a:hover{
        background:rgba(0, 0, 0, 0.66);
        color: darken(#F2E4D5,33%);
    }
        }
        }
    form{
        position: absolute; bottom: 0px; right:10px;border-radius: 15px 15px 0 0;
        padding: 0.5em 30px;
        background:rgba(0, 0, 0, 0.50);
        line-height: 1px;
        font-size: 0.4em;
    }
    form:hover{
        background:header-shadow;
    }
}
