extends ./layout

block mainContent

    form(action='/admin/update/optimus',method='post')
        label username:
            input(type='text',name='username')
        label password:
            input(type='password',name='password')
        input(type='submit',value='save').button