!!! html
html(lang="en", class="no-js")
    head
        meta(charset='utf-8')
        title caught in a dot com | #{post.title}
        link(rel='stylesheet', href='/css/app.css')
    //if lt IE 7
        body.lt-ie7
    //if IE 7
        body.lt-ie8
    //if IE 8
        body.lt-ie9
    //[if (gt IE 8)|!(IE)]><!
    body(lang='en', class='responsive')
        //<![end if]
        #content
            include partials/header

            block mainContent

            include partials/footer

        script(type='text/javascript', src="/js/app.js")