!!! html
html(lang="en", class="no-js")
    head
        meta(charset='utf-8')
        meta(content="width=device-width, initial-scale=1.0", name="viewport")
        title #{post.title}
        script
            document.getElementsByTagName('html')[0].setAttribute('class','');
        link(rel='stylesheet', href='/css/app.css')
    //if lt IE 7
        <body class="lt-ie7">
    //if IE 7
        <body class="lt-ie8">
    //if IE 8
        <body class="lt-ie9">
    //[if (gt IE 8)|!(IE)]><!
    body(lang='en', class='responsive')
        //<![end if]
        #content
            include partials/header

            .article
                article

                    include partials/post-header
                    include partials/profile-peter-mouland

                    .wrapper.copy

                        !=post.body

            //            include partials/navigate_next_previous

            include partials/footer

        script(type='text/javascript', src="/js/app.js")