extends ../layout

block mainContent

    .article
        #page_header.wrapper
            .header
                header
                    h1 about caught in a dot com

        .wrapper
            section
                h2 caught in a what?
                p come on, like a dot-com bubble, I've been caught in it. plus the '.com' is part of the name! whoah, it's genious!

                h2 not 'cough tina.com' then?
                p no. this is not a medical website for those guys who call themselves tina. stop it.

                h2 approach
                p I have built this using <code>nodeJS</code> and <code>express</code> because I wanted to learn something new and to have some knowledge to be able to compare Ruby + Sinatra (which i use at work).
                p On the client-side i am using <code>jQuery</code> and i could have chosen angularJS, but because i want more than templating and view changes am using <code>backbone</code>.
                    | You will also see that i use the <code>HTML5</code> doctype.  This is because of the looser add more meaningful markup.
                p This website is also fully <code>responsive</code>, try resizing your browser and viewing this site on any device, the content should always be usable and fit on the screen.
                    | If you get lost at any time simply toggle the 'view desktop site' in the footer.
                p So I started, fully aware that i might need to stop and start again if the language turned out to be rubbish/unsuitable/immature.
                    | only time will tell if these choices are sensible!

