@font-face{font-family:'Quicksand';font-style:normal;font-weight:400;src:local('Quicksand Regular'),local('Quicksand-Regular'),url("/fonts/quicksand.woff") format('woff')}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
footer,aside,section,article,nav,header,figure{display:block;margin:0;padding:0}
html,body{height:100%}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
body{font-family:helvetica,'Georgia';color:#d4a775;background:#d9ccb9}
a{text-decoration:none;color:#017890}
a:hover,a:focus{text-decoration:underline}
.at{position:absolute;clip:rect(0 0 0 0);clip:rect(1px,1px,1px,1px)}
h1,h2,dt,code.site{font-family:'Quicksand'}
h2 small,h1 small{font-family:helvetica;font-weight:normal}
.wrapper{width:95.83333333333334%;padding:20px 2.083333333333333%;background:#613d2d}
article:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#content{max-width:960px;margin:0 auto;position:relative}
.draft{display:none}
small{font-size:.5em;margin-left:1em}
ul.references{list-style:decimal;padding:20px}
img{max-width:100%}
sup{vertical-align:super;font-size:.75em;line-height:1em}
code{background:rgba(0,0,0,0.33);color:#ffc669;font-family:Georgia;padding:3px 6px;border:1px dashed rgba(0,0,0,0.75);font-size:.85em;white-space:nowrap;margin:0 5px}
.save-message{text-align:center;display:none;position:fixed;top:0;left:25%;border:1px solid #d48300;border-width:0 1px 1px 1px;border-radius:0 0 10px 10px;box-shadow:0 20px 10px -10px #000;line-height:2em;background:#000;padding:0 20px;width:50%;z-index:5;}
.save-message.shown{display:block}
a.mainLink{border-bottom:4px solid transparent;padding:10px 20px;text-decoration:none;float:left;}
a.mainLink:focus,a.mainLink:hover{background:#000;color:#ae7436;border-color:#017890;}
.rightColumn{width:200px}
#site_header{overflow:auto;border:0 solid rgba(0,0,0,0.75);border-bottom:4px solid #d48300;font-family:'Quicksand';font-size:3em;padding:0;position:relative;background:rgba(0,0,0,0);-webkit-transition:background 1s ease-out;-moz-transition:background 1s ease-out;-o-transition:background 1s ease-out;-ms-transition:background 1s ease-out;transition:background 1s ease-out;}
#site_header hgroup{width:240px;float:left;padding-right:3px;}
#site_header hgroup .site_name{margin:0;font-size:1.2em;text-align:justify;letter-spacing:-8px;word-spacing:10px;color:#d48300}
#site_header hgroup .tag_line{display:none;font-size:.35em;text-align:center;margin-bottom:20px;margin:0 auto;margin-bottom:2em;overflow:visible}
#site_header ul{overflow:auto;float:left;line-height:2em;}
#site_header ul li{float:left;font-size:.4em;}
#site_header ul li a{float:none;color:#017890;display:block;padding:20px;text-align:center}
form#search{display:none;position:absolute;bottom:0;right:0;border-radius:15px 15px 0 0;padding:.5em 30px;background:rgba(0,0,0,0.5);line-height:1px;font-size:.4em;}
form#search input[type=search]{width:150px}
form#login{float:right;text-align:right;line-height:1.5em;font-size:.45em;padding:10px 20px;color:#d48300;}
form#login input{display:block;width:92%;padding:4px 3%;}
form#login input[type=submit]{width:100%}
#page_header{text-align:left;position:relative;border:0;font-size:2em;font-weight:bold;color:#d48300;background:none;-webkit-transition:background 1s ease-out;-moz-transition:background 1s ease-out;-o-transition:background 1s ease-out;-ms-transition:background 1s ease-out;transition:background 1s ease-out;}
#page_header .time{font-size:.4em;font-weight:normal}
.authorProfile{float:right;margin:20px;color:#d48300;}
.authorProfile img{border-bottom:2px solid #d48300}
.authorProfile small{display:block;margin:0;color:#d4a775;font-size:.75em;}
.authorProfile small a{display:block}
@media (max-width: 900px){#site_header ul{padding-top:1em;line-height:1em;float:right}
form#login{position:absolute;right:0;width:95%;}
form#login div,form#login input,form#login input[type=submit]{display:inline;width:auto;padding:4px 1%}
}@media (max-width: 750px){#site_header .login{display:none}
#site_header hgroup{width:167px;}
#site_header hgroup .site_name{letter-spacing:-4px;font-size:.75em}
#site_header ul li a{padding:0 20px}
#page_header{font-size:1.5em;padding-top:10px;padding-bottom:10px}
a.mainLink{padding:12px 20px}
.authorProfile{width:25%;min-width:125px}
article h2{line-height:1em}
}@media (max-width: 600px){body #recent_articles header h2,body #recent_articles header,body #recent_articles p{width:100%;float:none;padding:0;text-align:left;}
body #recent_articles header h2 small,body #recent_articles header small,body #recent_articles p small{margin-left:0}
body #site_header hgroup,body #site_header .site_name,body #site_header .mainLink{width:100%;padding-left:0;padding-right:0;text-align:center !important}
body #site_header ul{clear:left;padding:0;float:none;}
body #site_header ul li{width:25%}
body form#login{display:none;width:200px;}
body form#login input{display:block}
body #page_header h1 small{display:block;margin:0}
}@media (max-width: 480px){body .clear_bp480{clear:left}
body #site_header ul li{width:50%}
body #site_header a.mainLink{line-height:1em;padding:5px 0}
}#site_footer{color:#ffdea9;border-top:1px solid #d48300;font-size:1em;overflow:auto;color:#f2e4d5;clear:both;}
#site_footer h2{float:right;margin:0}
#site_footer ul li{display:inline}
ul.nav_posts{overflow:auto;background:#613d2d;border:0;border-bottom:4px solid #d48300;box-shadow:0 20px 20px -10px #000;margin:0 0 15px 0;font-size:1.15em;}
ul.nav_posts li a{background:rgba(0,0,0,0.5);line-height:2em;padding:7px 20px;}
ul.nav_posts li a:hover{background:#000}
ul.nav_posts li.prev{float:left;}
ul.nav_posts li.prev a{border-radius:0 10px 0 0}
ul.nav_posts li.next{float:right;margin-left:-40px;}
ul.nav_posts li.next a{border-radius:10px 0 0 0}
html[xmlns] #recent_articles  article{display:block}
* html #recent_articles article{height:1%}
#recent_articles header{width:50%;float:left}
#recent_articles h2{margin:.75em 0;text-align:right;font-size:1.6em;padding-right:20px;}
#recent_articles h2 small{display:block;font-size:.625em}
#recent_articles article{position:relative;clear:left;margin-bottom:20px;}
#recent_articles article h2,#recent_articles article p{margin-bottom:0}
#recent_articles section{width:100%}
#recent_articles .time{position:absolute;left:50%;top:24px;font-size:.875em;color:#f2e4d5}
#recent_articles aside{position:absolute;top:24px;left:0;width:50%;text-align:right;font-size:.875em;}
#recent_articles aside li{display:inline;padding-right:20px}
#recent_articles aside a{color:#93a4a0}
#recent_articles p{color:#c78b4a;padding-top:1.5em;width:50%;float:right}
#recent_articles ul.navigator li{display:inline;margin:0 4px}
article h2{letter-spacing:2px;font-weight:bold;font-size:1.5em;color:#d48300;line-height:1.5em;margin-top:20px;}
article h2:first-child{margin:0}
article h3{margin-top:1em}
article h3,article dt{color:#d48300;font-size:1em}
article p,article dd{margin:0 0 20px;line-height:1.5em;text-align:justify}
article code.complete{padding:10px 20px;display:block}
article dl.contentList{clear:both;overflow:auto;}
article dl.contentList dt{float:left;clear:left;line-height:1.5em;margin-right:12px}
article dl.contentList dd{margin:0}
article dd.hide{opacity:.25}
article p.listStatement{margin:0}
article figure{background:rgba(0,0,0,0.5);}
article figure img{border-bottom:2px solid #d48300;display:block}
article figure figcaption{padding:0 10px;font-style:italic;line-height:1.5em;font-size:.875em}
#article p[contenteditable],#article h2[contenteditable],#article dt[contenteditable],#article dd[contenteditable]{z-index:2;border:1px dashed;position:relative;padding:4px;left:-4px;top:-4px;}
#article p[contenteditable]:hover,#article h2[contenteditable]:hover,#article dt[contenteditable]:hover,#article dd[contenteditable]:hover{border-style:solid}
#article p[contenteditable]:focus,#article h2[contenteditable]:focus,#article dt[contenteditable]:focus,#article dd[contenteditable]:focus{border-style:solid;background:#000;box-shadow:0 0 5px 5px #000}
#article p[draggable],#article h2[draggable],#article dt[draggable],#article dd[draggable]{cursor:move;-khtml-user-drag:element}
#article p.dragging,#article h2.dragging,#article dt.dragging,#article dd.dragging{opacity:.5}
#article .sortable-placeholder{display:block;height:3em}
.edit-controls{display:none;position:absolute;margin-left:-20px;width:20px;border-style:solid;border-width:1px 0 1px 1px;box-shadow:0 0 5px 5px #000;background:#000;z-index:1;}
.edit-controls span{display:block;text-align:center;line-height:20px;font-weight:bold;cursor:pointer;}
.edit-controls span:hover{color:#fff}
.edit-controls.show{display:block}
