.editable{
    p, h2, dt,dd{
        border: 1px dashed;
        position:relative;
        padding:4px;
        left:-4px;
        top:-4px;
    }
}
.edit-controls{
    display: none;
    position: absolute;
}
.edit-controls.show{
    display: block;
}