extends ../layout

block mainContent
    #tag
        h1 Tags [still in development]
        .wrapper
            section
            p Non of the 'tags' pages have been started yet, this site is still being built... sorry!