extends ../layout

block mainContent

    #article
        #page_header
            h1 about
                code.site caught in a dot com

        .wrapper
            section
                h2 caught in a what?
                p come on, like a dot-com bubble, I've been caught in it. plus the '.com' is part of the name! whoah, it's genious!

                h2 not 'cough tina.com' then?
                p no. this is not a medical website for those guys who call themselves tina. stop it.

                h2 why
                p after getting turned down for a role at a fruit based company I realised I need to do more R&D into the latest techniques.

                p I knew I could do any job put in front of me and do it better than most (contractors are an arrogant bunch!).
                    |unfortunately it seems that over time 'better than most' had turned into only better than Alan.
                    |Alan, is my girlfriends tree.

                p this made me realise that my ideas and years of experiences were close to being out of date.
                    |so, I started (yet again) to build a personal site. this time i'll finish it! Probably.


                h2 approach
                p I have built this using <code>nodeJS</code> and <code>express</code> simply because it was new, an environment with a lot of talk about it right now (2012) and i wanted to learn something new.
                    | Using <code>Ruby</code> and <code>Sinatra</code> was another option, but as i am already using this in my daily life at work i chose to go an unknown route.
                    |So I started, fully aware that i might need to stop and start again if the language turned out to be rubbish/unsuitable/immature.

