extends ../layout

block mainContent

    #article
        header
            h1 about
                code.site caught in a dot com

        .wrapper
            section
            h2 why
            p I started caught in a dot com
                |(not 'cough tina.com' which sounds like... something else completely!)
                |after getting turned down for a role at a very large and well respected company.
                |  This knock-back made me realise I had not been doing enough work in R&D.

            p At the time I knew I could do any job put in front of me. And probably do it better than most.
                |What they made me realise is that over time, 'better than most' had turned into only 'better than Alan'.
                |Alan, is my girlfriends tree.

            p This made me realise a couple things.
                |That my ideas, years of learned experiences with cross-broser development and coding techniques were out of date.
                |And lastly, that the web site i had been meaning to build for my self should actually be finished this time!

            h2 contents
            p My posts will be focused on all things releated to client-side development.
                | I hope to post something once a month for a long time to come.
                | While the site being built, this frequency may fluctuate while i split my time between the development and posting.

            h2 approach
            p I have built this using <code>nodeJS</code> and <code>express</code> simply because it was new, an environment with a lot of talk about it right now (2012) and i wanted to learn something new.
                | Using Ruby and Sinatra was another option, but as i am already using this in my daily life at work i chose to go an unknown route.
                |So I started, fully aware that i might need to stop and start again if the language turned out to be rubbish/unsuitable/immature.
            p I am also heading into this project wanting to release often and iterate quickly.
                |As I am no designer, this may mean many minor page restures until I find something slightly resembling a website!
                |If you are reading this early on, you have probably already found a couple of 'work in progress' pages.
            p Hopefully this site will keep growing and improving quickly

