extends ../layout

block mainContent

    include ../partials/profile

    #article

        include ../partials/post-header

        .wrapper

            section
                h2 accessibility
                ul
                    li screen reader support (aria, live regions and structure)
                    li keyboard support


