extends layout

block mainContent

    include ../partials/profile-peter-mouland

    #article

        include ../partials/post-header

        .wrapper
            section
                h2 From design to web
                h3 designs are great
                p often looking awesome on their printed A3 sheets, designs are great.
                    |unfortunately the web is not a piece of paper and our printers (the browser) are in the hand of the user.
                    | this allows any variation of size and colours to be seen.
                p this is part of the reason why I dont use tools like <code>pixel perfect</code>.
                    |what might look perfect in one browser, may look completely different in another.
                    |there is a better way. go and speak to the designer and ask for his annotations.
                    |learn the thinking behind their madness and use this to help guide you when things don't go to plan.

                h3 UI
                p designs often miss what happens when a user interacts with the elements.
                    | has the design included the look and feel for <code>hover</code> and <code>focus</code> states?
                    | the transitions that the user should shee when moving from one state to another will also be missing.
                    | In my example above this will be when the suer changes tabs.
                p transitions take a little time to get right as its all about feel.  How long should it take, should it animate or fade etc

                h3 catching the unexpected
                p everything looks cool in the design, but what does it look like if a channel logo is missing.
                    | can you ensure all images will be the same height?
                    | if not, what do you do; crop the image somewhere or allow the images to be different and set a <code class="css">max-height</code>?
                p In the design above I have intentionally  shown how the tabs look when there is too much text,
                    |but this too would normally be missing from the initial design and needs to be thought about.

                h3 alligning page elements is good
                p Being able align items with each other is important.
                    | as you switch tabs in this design, the elements within the tabs should stay in the same position.
                    | I.e. the channel logo's should always be in the same position, as should the call-to-action at the bottom.
                    | if any matching elements move by even a pixel, this will look strange and buggy to the user.


