extends ../layout

block mainContent

    include ../partials/profile

    #article

        include ../partials/post-header

        .wrapper

            section
                <a name="transitions"></a>
                h2 UI
                p

