#site_header
    .header
        header(role='banner')
            a.mainLink(href='/')
                .hgroup
                    hgroup
                        h2.site_name caught in a dot com
                        h3.tag_line diary of web geek

            nav(role='navigation')
                h2.at Site Navigation
                ul#filter
                    li
                        a.mainLink(href='/tags/css') css
                    li
                        a.mainLink(href='/tags/html5') html5
                    li.clear_bp480
                        a.mainLink(href='/tags/js') js
                    li
                        a.mainLink(href='/tags/accessibility') accessibility

            -if (user)
                form#login.loggedin.rightColumn(method='post',action='/login')
                    -if (updateable)
                        a.button#save-page update
                    -else if (editable)
                        a.button#edit-page(href='#{global.url}/edit') edit
                    a.button#logout(href='/logout') logout

            -if (!user)
                form#login.notloggedin.rightColumn(method='post',action='/login')
                    .login(href='#login') user login
                    input(name='username', placeholder='username')
                    input(name='password', type='password', placeholder='password')
                    input(type='submit', value='login')

