nav
  h2.at navigate posts
  ul.nav_posts
    -if (typeof previous!=='undefined')
        li.prev
            a(href='/posts/'+previous.url) &laquo; #{previous.title}
                -if (previous.subtitle)
                    |: #{previous.subtitle}
    -if (typeof next!=='undefined')
        li.next
            a(href='/posts/'+next.url) #{next.title}
                -if (next.subtitle)
                    |: #{next.subtitle}
                | &raquo;