aside.authorProfile.rightColumn
    figure
        img(width='100%', src='/images/pm.jpeg')
        figcaption peter mouland
            small web <s>developer</s> geek
                a(href='http://uk.linkedin.com/in/petermouland') my linked in profile