.article{
    h2{
        letter-spacing: 2px;
        font-size: 1.5em;
        color: darken(main-color, 50%);
        line-height: 1.5em;
        margin-top: 20px;
        &:first-child{
            margin:0;
        }
    }
    h3{
        margin-top: 1em;
    }
    h3,dt{
        color: darken(main-color, 50%);
        font-size: 1em;
    }
    p,dd{
        margin: 0 0 20px;
        line-height: 1.5em;
        text-align: justify;
    }
    code.complete{
        padding: 10px 20px;
        display: block;
        margin: 10px 0;
        overflow: auto;
    }

    dl.contentList{
        clear:both;
        overflow: auto;
        dt {float:left; clear: left;line-height: 1.5em; margin-right: 12px;}
        dd {margin: 0; }
    }
    dd.hide{ opacity:0.25;}
    p.listStatement{
        margin: 0;
    }
    figure{
        background: rgba(0,0,0,0.5);
        img{
            border-bottom: 2px solid #D48300;
            display: block;
        }
        figcaption{
            padding: 0 10px;
            font-style:italic;
            line-height: 1.5em;
            font-size: 0.875em

        }
    }
}
