/* footer */
#site_footer{
    color: #d48300;
    background: none;
    border-top: 1px solid #d48300;
    font-size: 1em;
    overflow: hidden;
    clear:both;

    footer {
        overflow: hidden;
    }

    h2 {
        float:right;
    }
    ul {
        margin-left:-1px;
        position:relative;
        left:-2.083333333333333%;
        li {
            float: left;
            border-left:1px solid #613d2d;
            padding:0 2.083333333333333%;
        }
        .linkedIn {
            background: url(/images/LinkedIn-Logo-2C.png) no-repeat 0 0;
            float: right;
            border: 0; padding: 0;
            a{
                display: block; height: 24px; width: 100px;
            }
        }
    }
    h2, li{
        margin: 0 0 1em 0;
    }
}

ul.nav_posts{
    overflow: auto;
    background: #613d2d;
    border: 0;
    border-bottom: 4px solid #d48300;
    box-shadow: 0 20px 20px -10px #000;
    margin: 0 0 15px 0;
    font-size: 1.15em;
    li{
        a{
            background: rgba(0,0,0,0.5);
            line-height: 2em;
            padding: 7px 20px;
            &:hover{
                background:#000;
            }
        }
    }
    li.prev{
        float: left;
        a{
            border-radius: 0 10px 0 0
        }
    }
    li.next{
        float:right;
        margin-left: -40px;
        a{
            border-radius: 10px 0 0 0
        }
    }
}

