@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(/fonts/quicksand.woff) format('woff');
}

/*vars*/
main-color = rgb(255,222,169);
header-shadow = rgba(0,0,0,0.75);



/*resets*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
footer,aside,section,article,nav,header,figure{display:block; margin:0;padding:0;}
html,body{height: 100%;}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
body{
  font-family: helvetica,'Georgia';
  color:darken(#F2E4D5,27.5%);
  background:#d9ccb9;

}
a{
    text-decoration: none;
    color: #017890;
}
a:hover,a:focus{
    text-decoration: underline;
}
.at{
    position: absolute;
    clip: rect(0 0 0 0);
    clip:rect(1px,1px,1px,1px);
}

h1,h2, dt{
    font-family: 'Quicksand';
    font-weight: normal;
}

h2 small,
h1 small{
    font-family: helvetica;
    font-weight: normal;
}

/* layout : all pages */

.wrapper{
    width: (920/960)*100%;
    padding: 20px (20/960)*100%;
    background: #613d2d;
}

.article:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#content{
    width: 1064px; margin: 0 auto; position: relative;
}
.responsive #content{
    width: auto;
    max-width: 1064px;
    min-width: 320px;
    overflow: hidden;
}

.draft{ display:none;}
small{ font-size: 0.5em; margin-left: 1em;}

ul.references{
    list-style: decimal;
    padding: 20px
}
img{
    max-width: 100%;
}
sup{
    vertical-align: super;
    font-size: 0.75em;
    line-height: 1em;
}

code {
    background: rgba(0,0,0,0.33);
    color:  darken(main-color, 15%);
    font-family: Georgia;
    padding: 3px 6px;
    border: 1px dashed rgba(0,0,0,0.75);
    font-size: 0.85em;
    white-space: nowrap;
    margin: 0 5px;
}

.save-message{
    text-align: center;
    display: none;
    position: fixed;
    top:0;
    left: 25%;
    border: 1px solid #d48300;
    border-width: 0 1px 1px 1px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 20px 10px -10px #000;
    line-height: 2em;
    background: black;
    padding: 0 20px;
    width: 50%;
    z-index:5;
    &.shown{
        display:block;
    }
}


a.mainLink{
    border-bottom: 4px solid transparent;
    padding: 10px 2.083333333333333%;
    text-decoration: none;
    float: left;

    &:focus,
    &:hover{
        background:rgb(0, 0, 0);
        color: darken(#F2E4D5,50%);
        border-color: #017890; /*light blue 8fbcdb*/
    }
}

.rightColumn{
    width: 200px;
}