html[xmlns] #recent_articles  article{
    display: block;
}

* html #recent_articles article {
    height: 1%;
}


#recent_articles{
    .header{
        width: 50%;
        float: left;
    }
    h2{ margin: 0.75em 0;
        text-align: right;
        font-size: 1.6em;
        padding-right:20px;
        small{
            display:block;
            font-size: 0.625em;
        }
    }
    .article{
        position: relative;
        clear: left;
        margin-bottom: 20px;
        h2,
        p{
            margin-bottom:0;
        }
    }
    section{
        width:100%;
    }
    .time{position: absolute;
        left: 50%;
        top: 24px;
        font-size:0.875em;
        color: #F2E4D5;
    }
    aside{
        position: absolute;top: 24px; left:0; width:50%; text-align: right;
        font-size:0.875em;
        li{ display:inline; padding-right: 20px }
        a{
            color: lighten(#677a76, 30%);
        }
    }
    p{ color: darken(#F2E4D5, 40%);
        padding-top: 1.5em;width: 50%;
        float: right;
    }
    ul.navigator{
        li{
            display: inline;
            margin: 0 4px;
        }
    }
}
